# Directories to ignore
.git/
.github/
.idea/
.vscode/
build/
dist/
env/
venv/
cache/
appimage/

# Ignore common archive and executable files
*.exe
*.zip
*.tar.gz
*.gz
*.tgz
*.rar
*.7z
*.jar

# Temporary or lock files
*.tmp
log.txt
lock.file

# Ignore Python-related files
build.spec
.mypy_cache/
__pycache__/

# Ignore configuration and script files
.gitignore
settings.json
healthcheck.timestamp
healthcheck.exitstate
healthcheck.connectionerror
README.md
LICENSE
manual.txt

# Ignore specific development and build scripts
run_dev.bat
build.bat
pack.bat
setup_env.bat

# Docker-specific files
Dockerfile
docker-compose.yml
